<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- <meta charset="UTF-8"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/assets/css/login.css">
</head>

<body>
    <header id="nav-menu" class="nav-menu" style="margin-bottom: 6rem!important;">
    </header>
    <section class="container mt-5">
        <div class="row">
            <div class="class-sm-12">
                <h2>Seja bem vindo!</h2>
            </div>
        </div>
        <div class="row mb-5 mt-5">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Controlar Tarefas</h5>
                        <p class="card-text">O sistemas é capaz de incluir, alterar e deletar suas tarefas.</p>
                        <a href="#" class="btn btn-primary">Me leve</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gerar Relatorios</h5>
                        <p class="card-text">Você pode gerar relatorios diarios de controle das tarefas.</p>
                        <a href="#" class="btn btn-primary">Me leve</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Controlar as horas</h5>
                        <p class="card-text">Com a inclusão de horas, voce será capaz de ver o seu dia.</p>
                        <a href="#" class="btn btn-primary">Me leve</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gerenciar seu mês</h5>
                        <p class="card-text">Simples e prático</p>
                        <a href="#" class="btn btn-primary">Me leve</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <script type="module" src="../../public/assets/js/modules/Home.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </footer>
</body>

</html>